/.settings
/.buildpath
/.project
/tests/TestConfiguration.php
!*.gitadd
!*.gitkeep
.DS_Store
Thumbs.db
/vendor
/composer.lock
/config/autoload/*local*
/config/application.config.old
/data/cache/*
!/data/cache/.gitkeep
/data/logs/*
!/data/logs/.gitkeep
/data/DoctrineORMModule/Proxy/*
!/data/DoctrineORMModule/Proxy/.gitkeep